* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}

img {
    /* background-color: black; */
    width: 30px;
    height: 30px;
}

button {
    background-color: transparent;
    border: none;

}

a {
    color: black;
    text-decoration: none;
}

.basicContent {
    margin: 2% 15% 0 15%;
}

@media screen and (max-width: 499px) {
    body {
        font-size: 14px;
    }
}
