
.accWin_background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3)
}
.accWin_window {
    width: 40%;
    height: 60%;
    background-color: white;
    border: 1px solid black;
    
}
