
.TB_taskDiv {
    width: 100%;
    background-color: #E4DD43;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.TB_taskName {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 0;
}
.TB_taskNameIsOpen {
    padding-bottom: 4%;
}
.TB_taskName h3 {
    font-size: 3rem;
    font-weight: 100;
    font-family: serif, Georgia;
}
.TB_taskName h4 {
    font-size: 1.5rem;
    font-weight: 100;  
    font-family: serif, Georgia; 
}

.TB_taskTask {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TB_taskTask h4 {
    font-size: 1.5rem;
    font-weight: 100;  
    font-family: serif, Georgia; 
}
.TB_TaskContent {
    display: flex;
    margin-bottom:1rem;
}
.TB_taskTaskSub {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.TB_taskTaskSub button {
    width: 40%;
    height: 50px;
    background-color: white;
    font-size: 1.5rem;
}

@media screen and (max-width: 499px) {
    .TB_TaskContent {
        flex-direction: column;
    }
    .TB_taskTask {
        width: 100%;
        margin-bottom: 2rem;
    }
}